<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>abvs1</key>
  <array>
    <string>U0C15</string>
    <string>U0C16</string>
    <string>U0C17</string>
    <string>U0C18</string>
    <string>U0C19</string>
    <string>U0C1A</string>
    <string>U0C1B</string>
    <string>U0C1C</string>
    <string>U0C1D</string>
    <string>U0C1E</string>
    <string>U0C1F</string>
    <string>U0C20</string>
    <string>U0C21</string>
    <string>U0C22</string>
    <string>U0C23</string>
    <string>U0C24</string>
    <string>U0C25</string>
    <string>U0C26</string>
    <string>U0C27</string>
    <string>U0C28</string>
    <string>U0C2A</string>
    <string>U0C2B</string>
    <string>U0C2C</string>
    <string>U0C2D</string>
    <string>U0C2E</string>
    <string>U0C2F</string>
    <string>U0C30</string>
    <string>U0C31</string>
    <string>U0C32</string>
    <string>U0C33</string>
    <string>U0C35</string>
    <string>U0C36</string>
    <string>U0C37</string>
    <string>U0C38</string>
    <string>U0C39</string>
  </array>
  <key>blws1</key>
  <array>
    <string>U0C15_U0C4D.blwf</string>
    <string>U0C1A_U0C4D.blwf</string>
    <string>U0C1B_U0C4D.blwf</string>
    <string>U0C28_U0C4D.blwf</string>
    <string>U0C2A_U0C4D.blwf</string>
    <string>U0C2B_U0C4D.blwf</string>
    <string>U0C2C_U0C4D.blwf</string>
    <string>U0C2D_U0C4D.blwf</string>
    <string>U0C2E_U0C4D.blwf</string>
    <string>U0C2F_U0C4D.blwf</string>
    <string>U0C33_U0C4D.blwf</string>
    <string>U0C35_U0C4D.blwf</string>
    <string>U0C36_U0C4D.blwf</string>
    <string>U0C38_U0C4D.blwf</string>
  </array>
  <key>blws2</key>
  <array>
    <string>U0C16_U0C4D.blwf</string>
    <string>U0C17_U0C4D.blwf</string>
    <string>U0C18_U0C4D.blwf</string>
    <string>U0C19_U0C4D.blwf</string>
    <string>U0C1C_U0C4D.blwf</string>
    <string>U0C1D_U0C4D.blwf</string>
    <string>U0C1E_U0C4D.blwf</string>
    <string>U0C1F_U0C4D.blwf</string>
    <string>U0C20_U0C4D.blwf</string>
    <string>U0C21_U0C4D.blwf</string>
    <string>U0C22_U0C4D.blwf</string>
    <string>U0C23_U0C4D.blwf</string>
    <string>U0C24_U0C4D.blwf</string>
    <string>U0C25_U0C4D.blwf</string>
    <string>U0C26_U0C4D.blwf</string>
    <string>U0C27_U0C4D.blwf</string>
    <string>U0C31_U0C4D.blwf</string>
    <string>U0C32_U0C4D.blwf</string>
    <string>U0C37_U0C4D.blwf</string>
    <string>U0C39_U0C4D.blwf</string>
  </array>
  <key>blws3</key>
  <array>
    <string>U0C15_U0C4D.blwf</string>
    <string>U0C16_U0C4D.blwf</string>
    <string>U0C17_U0C4D.blwf</string>
    <string>U0C18_U0C4D.blwf</string>
    <string>U0C19_U0C4D.blwf</string>
    <string>U0C1A_U0C4D.blwf</string>
    <string>U0C1B_U0C4D.blwf</string>
    <string>U0C1C_U0C4D.blwf</string>
    <string>U0C1D_U0C4D.blwf</string>
    <string>U0C1E_U0C4D.blwf</string>
    <string>U0C1F_U0C4D.blwf</string>
    <string>U0C20_U0C4D.blwf</string>
    <string>U0C21_U0C4D.blwf</string>
    <string>U0C22_U0C4D.blwf</string>
    <string>U0C23_U0C4D.blwf</string>
    <string>U0C24_U0C4D.blwf</string>
    <string>U0C25_U0C4D.blwf</string>
    <string>U0C26_U0C4D.blwf</string>
    <string>U0C27_U0C4D.blwf</string>
    <string>U0C28_U0C4D.blwf</string>
    <string>U0C2A_U0C4D.blwf</string>
    <string>U0C2B_U0C4D.blwf</string>
    <string>U0C2C_U0C4D.blwf</string>
    <string>U0C2D_U0C4D.blwf</string>
    <string>U0C2E_U0C4D.blwf</string>
    <string>U0C2F_U0C4D.blwf</string>
    <string>U0C31_U0C4D.blwf</string>
    <string>U0C32_U0C4D.blwf</string>
    <string>U0C33_U0C4D.blwf</string>
    <string>U0C35_U0C4D.blwf</string>
    <string>U0C36_U0C4D.blwf</string>
    <string>U0C37_U0C4D.blwf</string>
    <string>U0C38_U0C4D.blwf</string>
    <string>U0C39_U0C4D.blwf</string>
  </array>
  <key>blws4</key>
  <array>
    <string>U0C15_U0C4D.blwf</string>
    <string>U0C16_U0C4D.blwf</string>
    <string>U0C17_U0C4D.blwf</string>
    <string>U0C18_U0C4D.blwf</string>
    <string>U0C19_U0C4D.blwf</string>
    <string>U0C1A_U0C4D.blwf</string>
    <string>U0C1B_U0C4D.blwf</string>
    <string>U0C1C_U0C4D.blwf</string>
    <string>U0C1D_U0C4D.blwf</string>
    <string>U0C1E_U0C4D.blwf</string>
    <string>U0C1F_U0C4D.blwf</string>
    <string>U0C20_U0C4D.blwf</string>
    <string>U0C21_U0C4D.blwf</string>
    <string>U0C22_U0C4D.blwf</string>
    <string>U0C23_U0C4D.blwf</string>
    <string>U0C24_U0C4D.blwf</string>
    <string>U0C25_U0C4D.blwf</string>
    <string>U0C26_U0C4D.blwf</string>
    <string>U0C27_U0C4D.blwf</string>
    <string>U0C28_U0C4D.blwf</string>
    <string>U0C2A_U0C4D.blwf</string>
    <string>U0C2B_U0C4D.blwf</string>
    <string>U0C2C_U0C4D.blwf</string>
    <string>U0C2D_U0C4D.blwf</string>
    <string>U0C2E_U0C4D.blwf</string>
    <string>U0C2F_U0C4D.blwf</string>
    <string>U0C30_U0C4D.blwf</string>
    <string>U0C31_U0C4D.blwf</string>
    <string>U0C32_U0C4D.blwf</string>
    <string>U0C33_U0C4D.blwf</string>
    <string>U0C35_U0C4D.blwf</string>
    <string>U0C36_U0C4D.blwf</string>
    <string>U0C37_U0C4D.blwf</string>
    <string>U0C38_U0C4D.blwf</string>
    <string>U0C39_U0C4D.blwf</string>
  </array>
  <key>blws5</key>
  <array>
    <string>U0C15_U0C4D.blwf</string>
    <string>U0C16_U0C4D.blwf</string>
    <string>U0C17_U0C4D.blwf</string>
    <string>U0C18_U0C4D.blwf</string>
    <string>U0C19_U0C4D.blwf</string>
    <string>U0C1A_U0C4D.blwf</string>
    <string>U0C1B_U0C4D.blwf</string>
    <string>U0C1C_U0C4D.blwf</string>
    <string>U0C1D_U0C4D.blwf</string>
    <string>U0C1E_U0C4D.blwf</string>
    <string>U0C1F_U0C4D.blwf</string>
    <string>U0C20_U0C4D.blwf</string>
    <string>U0C21_U0C4D.blwf</string>
    <string>U0C22_U0C4D.blwf</string>
    <string>U0C23_U0C4D.blwf</string>
    <string>U0C24_U0C4D.blwf</string>
    <string>U0C25_U0C4D.blwf</string>
    <string>U0C26_U0C4D.blwf</string>
    <string>U0C27_U0C4D.blwf</string>
    <string>U0C28_U0C4D.blwf</string>
    <string>U0C2A_U0C4D.blwf</string>
    <string>U0C2B_U0C4D.blwf</string>
    <string>U0C2C_U0C4D.blwf</string>
    <string>U0C2D_U0C4D.blwf</string>
    <string>U0C2E_U0C4D.blwf</string>
    <string>U0C2F_U0C4D.blwf</string>
    <string>U0C30_U0C4D.blwf</string>
    <string>U0C31_U0C4D.blwf</string>
    <string>U0C32_U0C4D.blwf</string>
    <string>U0C33_U0C4D.blwf</string>
    <string>U0C35_U0C4D.blwf</string>
    <string>U0C36_U0C4D.blwf</string>
    <string>U0C37_U0C4D.blwf</string>
    <string>U0C38_U0C4D.blwf</string>
    <string>U0C39_U0C4D.blwf</string>
    <string>U0C56_U0C24_U0C4D.blwf.blws</string>
    <string>glyph473</string>
    <string>U0C15_U0C37_U0C4D.akhn</string>
    <string>U0C36_U0C40.abvs_U0C30_U0C4D.blwf.blws</string>
    <string>U0C37_U0C1F_U0C4D_U0C30_U0C4D</string>
    <string>U0C15_U0C41.psts</string>
    <string>U0C21_U0C41.psts</string>
    <string>U0C22_U0C41.psts</string>
    <string>U0C39_U0C41.psts</string>
    <string>U0C15_U0C42.psts</string>
    <string>U0C21_U0C42.psts</string>
    <string>U0C22_U0C42.psts</string>
    <string>U0C39_U0C42.psts</string>
    <string>glyph493</string>
    <string>glyph494</string>
    <string>glyph495</string>
    <string>glyph496</string>
    <string>glyph497</string>
    <string>glyph498</string>
    <string>glyph499</string>
    <string>glyph500</string>
    <string>glyph501</string>
    <string>glyph502</string>
    <string>glyph503</string>
    <string>glyph504</string>
    <string>glyph505</string>
    <string>glyph506</string>
    <string>glyph507</string>
    <string>glyph508</string>
    <string>glyph509</string>
    <string>glyph510</string>
    <string>glyph511</string>
    <string>glyph512</string>
    <string>glyph513</string>
    <string>glyph514</string>
  </array>
  <key>class0</key>
  <array>
    <string>U0C56</string>
    <string>U0C16_U0C4D.blwf</string>
    <string>U0C17_U0C4D.blwf</string>
    <string>U0C18_U0C4D.blwf</string>
    <string>U0C19_U0C4D.blwf</string>
    <string>U0C1C_U0C4D.blwf</string>
    <string>U0C1D_U0C4D.blwf</string>
    <string>U0C1E_U0C4D.blwf</string>
    <string>U0C1F_U0C4D.blwf</string>
    <string>U0C20_U0C4D.blwf</string>
    <string>U0C21_U0C4D.blwf</string>
    <string>U0C22_U0C4D.blwf</string>
    <string>U0C23_U0C4D.blwf</string>
    <string>U0C24_U0C4D.blwf</string>
    <string>U0C25_U0C4D.blwf</string>
    <string>U0C26_U0C4D.blwf</string>
    <string>U0C27_U0C4D.blwf</string>
    <string>U0C30_U0C4D.blwf</string>
    <string>U0C31_U0C4D.blwf</string>
    <string>U0C32_U0C4D.blwf</string>
    <string>U0C37_U0C4D.blwf</string>
    <string>U0C39_U0C4D.blwf</string>
    <string>U0C15_U0C4D.blwf_U0C37_U0C4</string>
    <string>U0C56_U0C24_U0C4D.blwf.blws</string>
    <string>U0C24_U0C4D.blwf_U0C30_U0</string>
    <string>glyph473</string>
    <string>glyph493</string>
    <string>glyph495</string>
    <string>glyph536</string>
    <string>U0C1C_U0C4D.</string>
    <string>U0C1F_U0C4D_U0C32_U0C4D</string>
    <string>U0C56_U0C</string>
    <string>ai_extended</string>
    <string>glyph536_U0C</string>
    <string>U0C34_U0C4D.blwf</string>
  </array>
  <key>class1</key>
  <array>
    <string>U0C15</string>
    <string>U0C16</string>
    <string>U0C17</string>
    <string>U0C18</string>
    <string>U0C19</string>
    <string>U0C1A</string>
    <string>U0C1B</string>
    <string>U0C1C</string>
    <string>U0C1D</string>
    <string>U0C1E</string>
    <string>U0C1F</string>
    <string>U0C20</string>
    <string>U0C21</string>
    <string>U0C22</string>
    <string>U0C23</string>
    <string>U0C24</string>
    <string>U0C25</string>
    <string>U0C26</string>
    <string>U0C27</string>
    <string>U0C28</string>
    <string>U0C2A</string>
    <string>U0C2B</string>
    <string>U0C2C</string>
    <string>U0C2D</string>
    <string>U0C2E</string>
    <string>U0C2F</string>
    <string>U0C30</string>
    <string>U0C31</string>
    <string>U0C32</string>
    <string>U0C33</string>
    <string>U0C35</string>
    <string>U0C36</string>
    <string>U0C37</string>
    <string>U0C38</string>
    <string>U0C39</string>
    <string>U0C58</string>
    <string>U0C59</string>
    <string>U0C15_U0C3E.abvs</string>
    <string>U0C16_U0C3E.abvs</string>
    <string>U0C17_U0C3E.abvs</string>
    <string>U0C18_U0C3E.abvs</string>
    <string>U0C19_U0C3E.abvs</string>
    <string>U0C1A_U0C3E.abvs</string>
    <string>U0C1B_U0C3E.abvs</string>
    <string>U0C1C_U0C3E.abvs</string>
    <string>U0C1D_U0C3E.abvs</string>
    <string>U0C1E_U0C3E.abvs</string>
    <string>U0C1F_U0C3E.abvs</string>
    <string>U0C20_U0C3E.abvs</string>
    <string>U0C21_U0C3E.abvs</string>
    <string>U0C22_U0C3E.abvs</string>
    <string>U0C23_U0C3E.abvs</string>
    <string>U0C24_U0C3E.abvs</string>
    <string>U0C25_U0C3E.abvs</string>
    <string>U0C26_U0C3E.abvs</string>
    <string>U0C27_U0C3E.abvs</string>
    <string>U0C28_U0C3E.abvs</string>
    <string>U0C2A_U0C3E.abvs</string>
    <string>U0C2B_U0C3E.abvs</string>
    <string>U0C2C_U0C3E.abvs</string>
    <string>U0C2D_U0C3E.abvs</string>
    <string>U0C2E_U0C3E.abvs</string>
    <string>U0C2F_U0C3E.abvs</string>
    <string>U0C30_U0C3E.abvs</string>
    <string>U0C31_U0C3E.abvs</string>
    <string>U0C32_U0C3E.abvs</string>
    <string>U0C33_U0C3E.abvs</string>
    <string>U0C35_U0C3E.abvs</string>
    <string>U0C36_U0C3E.abvs</string>
    <string>U0C37_U0C3E.abvs</string>
    <string>U0C38_U0C3E.abvs</string>
    <string>U0C39_U0C3E.abvs</string>
    <string>U0C15_U0C3E_U0C37_U0C4D.akhn</string>
    <string>U0C15_U0C3F.abvs</string>
    <string>U0C16_U0C3F.abvs</string>
    <string>U0C17_U0C3F.abvs</string>
    <string>U0C18_U0C3F.abvs</string>
    <string>U0C19_U0C3F.abvs</string>
    <string>U0C1A_U0C3F.abvs</string>
    <string>U0C1B_U0C3F.abvs</string>
    <string>U0C1C_U0C3F.abvs</string>
    <string>U0C1D_U0C3F.abvs</string>
    <string>U0C1E_U0C3F.abvs</string>
    <string>U0C1F_U0C3F.abvs</string>
    <string>U0C20_U0C3F.abvs</string>
    <string>U0C21_U0C3F.abvs</string>
    <string>U0C22_U0C3F.abvs</string>
    <string>U0C23_U0C3F.abvs</string>
    <string>U0C24_U0C3F.abvs</string>
    <string>U0C25_U0C3F.abvs</string>
    <string>U0C26_U0C3F.abvs</string>
    <string>U0C27_U0C3F.abvs</string>
    <string>U0C28_U0C3F.abvs</string>
    <string>U0C2A_U0C3F.abvs</string>
    <string>U0C2B_U0C3F.abvs</string>
    <string>U0C2C_U0C3F.abvs</string>
    <string>U0C2D_U0C3F.abvs</string>
    <string>U0C2E_U0C3F.abvs</string>
    <string>U0C2F_U0C3F.abvs</string>
    <string>U0C30_U0C3F.abvs</string>
    <string>U0C31_U0C3F.abvs</string>
    <string>U0C32_U0C3F.abvs</string>
    <string>U0C33_U0C3F.abvs</string>
    <string>U0C35_U0C3F.abvs</string>
    <string>U0C36_U0C3F.abvs</string>
    <string>U0C37_U0C3F.abvs</string>
    <string>U0C38_U0C3F.abvs</string>
    <string>U0C39_U0C3F.abvs</string>
    <string>U0C15_U0C3F_U0C37_U0C4D.akhn</string>
    <string>U0C15_U0C40.abvs</string>
    <string>U0C16_U0C40.abvs</string>
    <string>U0C17_U0C40.abvs</string>
    <string>U0C18_U0C40.abvs</string>
    <string>U0C19_U0C40.abvs</string>
    <string>U0C1A_U0C40.abvs</string>
    <string>U0C1B_U0C40.abvs</string>
    <string>U0C1C_U0C40.abvs</string>
    <string>U0C1D_U0C40.abvs</string>
    <string>U0C1E_U0C40.abvs</string>
    <string>U0C1F_U0C40.abvs</string>
    <string>U0C20_U0C40.abvs</string>
    <string>U0C21_U0C40.abvs</string>
    <string>U0C22_U0C40.abvs</string>
    <string>U0C23_U0C40.abvs</string>
    <string>U0C24_U0C40.abvs</string>
    <string>U0C25_U0C40.abvs</string>
    <string>U0C26_U0C40.abvs</string>
    <string>U0C27_U0C40.abvs</string>
    <string>U0C28_U0C40.abvs</string>
    <string>U0C2A_U0C40.abvs</string>
    <string>U0C2B_U0C40.abvs</string>
    <string>U0C2C_U0C40.abvs</string>
    <string>U0C2D_U0C40.abvs</string>
    <string>U0C2E_U0C40.abvs</string>
    <string>U0C2F_U0C40.abvs</string>
    <string>U0C30_U0C40.abvs</string>
    <string>U0C31_U0C40.abvs</string>
    <string>U0C32_U0C40.abvs</string>
    <string>U0C33_U0C40.abvs</string>
    <string>U0C35_U0C40.abvs</string>
    <string>U0C36_U0C40.abvs</string>
    <string>U0C37_U0C40.abvs</string>
    <string>U0C38_U0C40.abvs</string>
    <string>U0C39_U0C40.abvs</string>
    <string>U0C15_U0C40_U0C37_U0C4D.akhn</string>
    <string>U0C15_U0C46.abvs</string>
    <string>U0C16_U0C46.abvs</string>
    <string>U0C17_U0C46.abvs</string>
    <string>U0C18_U0C46.abvs</string>
    <string>U0C19_U0C46.abvs</string>
    <string>U0C1A_U0C46.abvs</string>
    <string>U0C1B_U0C46.abvs</string>
    <string>U0C1C_U0C46.abvs</string>
    <string>U0C1D_U0C46.abvs</string>
    <string>U0C1E_U0C46.abvs</string>
    <string>U0C1F_U0C46.abvs</string>
    <string>U0C20_U0C46.abvs</string>
    <string>U0C21_U0C46.abvs</string>
    <string>U0C22_U0C46.abvs</string>
    <string>U0C23_U0C46.abvs</string>
    <string>U0C24_U0C46.abvs</string>
    <string>U0C25_U0C46.abvs</string>
    <string>U0C26_U0C46.abvs</string>
    <string>U0C27_U0C46.abvs</string>
    <string>U0C28_U0C46.abvs</string>
    <string>U0C2A_U0C46.abvs</string>
    <string>U0C2B_U0C46.abvs</string>
    <string>U0C2C_U0C46.abvs</string>
    <string>U0C2D_U0C46.abvs</string>
    <string>U0C2E_U0C46.abvs</string>
    <string>U0C2F_U0C46.abvs</string>
    <string>U0C30_U0C46.abvs</string>
    <string>U0C31_U0C46.abvs</string>
    <string>U0C32_U0C46.abvs</string>
    <string>U0C33_U0C46.abvs</string>
    <string>U0C35_U0C46.abvs</string>
    <string>U0C36_U0C46.abvs</string>
    <string>U0C37_U0C46.abvs</string>
    <string>U0C38_U0C46.abvs</string>
    <string>U0C39_U0C46.abvs</string>
    <string>U0C15_U0C46_U0C37_U0C4D.akhn</string>
    <string>U0C15_U0C47.abvs</string>
    <string>U0C16_U0C47.abvs</string>
    <string>U0C17_U0C47.abvs</string>
    <string>U0C18_U0C47.abvs</string>
    <string>U0C19_U0C47.abvs</string>
    <string>U0C1A_U0C47.abvs</string>
    <string>U0C1B_U0C47.abvs</string>
    <string>U0C1C_U0C47.abvs</string>
    <string>U0C1D_U0C47.abvs</string>
    <string>U0C1E_U0C47.abvs</string>
    <string>U0C1F_U0C47.abvs</string>
    <string>U0C20_U0C47.abvs</string>
    <string>U0C21_U0C47.abvs</string>
    <string>U0C22_U0C47.abvs</string>
    <string>U0C23_U0C47.abvs</string>
    <string>U0C24_U0C47.abvs</string>
    <string>U0C25_U0C47.abvs</string>
    <string>U0C26_U0C47.abvs</string>
    <string>U0C27_U0C47.abvs</string>
    <string>U0C28_U0C47.abvs</string>
    <string>U0C2A_U0C47.abvs</string>
    <string>U0C2B_U0C47.abvs</string>
    <string>U0C2C_U0C47.abvs</string>
    <string>U0C2D_U0C47.abvs</string>
    <string>U0C2E_U0C47.abvs</string>
    <string>U0C2F_U0C47.abvs</string>
    <string>U0C30_U0C47.abvs</string>
    <string>U0C31_U0C47.abvs</string>
    <string>U0C32_U0C47.abvs</string>
    <string>U0C33_U0C47.abvs</string>
    <string>U0C35_U0C47.abvs</string>
    <string>U0C36_U0C47.abvs</string>
    <string>U0C37_U0C47.abvs</string>
    <string>U0C38_U0C47.abvs</string>
    <string>U0C39_U0C47.abvs</string>
    <string>U0C15_U0C47_U0C37_U0C4D.akhn</string>
    <string>U0C15_U0C4A.abvs</string>
    <string>U0C16_U0C4A.abvs</string>
    <string>U0C17_U0C4A.abvs</string>
    <string>U0C18_U0C4A.abvs</string>
    <string>U0C19_U0C4A.abvs</string>
    <string>U0C1A_U0C4A.abvs</string>
    <string>U0C1B_U0C4A.abvs</string>
    <string>U0C1C_U0C4A.abvs</string>
    <string>U0C1D_U0C4A.abvs</string>
    <string>U0C1E_U0C4A.abvs</string>
    <string>U0C1F_U0C4A.abvs</string>
    <string>U0C20_U0C4A.abvs</string>
    <string>U0C21_U0C4A.abvs</string>
    <string>U0C22_U0C4A.abvs</string>
    <string>U0C23_U0C4A.abvs</string>
    <string>U0C24_U0C4A.abvs</string>
    <string>U0C25_U0C4A.abvs</string>
    <string>U0C26_U0C4A.abvs</string>
    <string>U0C27_U0C4A.abvs</string>
    <string>U0C28_U0C4A.abvs</string>
    <string>U0C2A_U0C4A.abvs</string>
    <string>U0C2B_U0C4A.abvs</string>
    <string>U0C2C_U0C4A.abvs</string>
    <string>U0C2D_U0C4A.abvs</string>
    <string>U0C2E_U0C4A.abvs</string>
    <string>U0C2F_U0C4A.abvs</string>
    <string>U0C30_U0C4A.abvs</string>
    <string>U0C31_U0C4A.abvs</string>
    <string>U0C32_U0C4A.abvs</string>
    <string>U0C33_U0C4A.abvs</string>
    <string>U0C35_U0C4A.abvs</string>
    <string>U0C36_U0C4A.abvs</string>
    <string>U0C37_U0C4A.abvs</string>
    <string>U0C38_U0C4A.abvs</string>
    <string>U0C39_U0C4A.abvs</string>
    <string>U0C15_U0C4A_U0C37_U0C4D.akhn</string>
    <string>U0C15_U0C4B.abvs</string>
    <string>U0C16_U0C4B.abvs</string>
    <string>U0C17_U0C4B.abvs</string>
    <string>U0C18_U0C4B.abvs</string>
    <string>U0C19_U0C4B.abvs</string>
    <string>U0C1A_U0C4B.abvs</string>
    <string>U0C1B_U0C4B.abvs</string>
    <string>U0C1C_U0C4B.abvs</string>
    <string>U0C1D_U0C4B.abvs</string>
    <string>U0C1E_U0C4B.abvs</string>
    <string>U0C1F_U0C4B.abvs</string>
    <string>U0C20_U0C4B.abvs</string>
    <string>U0C21_U0C4B.abvs</string>
    <string>U0C22_U0C4B.abvs</string>
    <string>U0C23_U0C4B.abvs</string>
    <string>U0C24_U0C4B.abvs</string>
    <string>U0C25_U0C4B.abvs</string>
    <string>U0C26_U0C4B.abvs</string>
    <string>U0C27_U0C4B.abvs</string>
    <string>U0C28_U0C4B.abvs</string>
    <string>U0C2A_U0C4B.abvs</string>
    <string>U0C2B_U0C4B.abvs</string>
    <string>U0C2C_U0C4B.abvs</string>
    <string>U0C2D_U0C4B.abvs</string>
    <string>U0C2E_U0C4B.abvs</string>
    <string>U0C2F_U0C4B.abvs</string>
    <string>U0C30_U0C4B.abvs</string>
    <string>U0C31_U0C4B.abvs</string>
    <string>U0C32_U0C4B.abvs</string>
    <string>U0C33_U0C4B.abvs</string>
    <string>U0C35_U0C4B.abvs</string>
    <string>U0C36_U0C4B.abvs</string>
    <string>U0C37_U0C4B.abvs</string>
    <string>U0C38_U0C4B.abvs</string>
    <string>U0C39_U0C4B.abvs</string>
    <string>U0C15_U0C4B_U0C37_U0C4D.akhn</string>
    <string>U0C15_U0C4C.abvs</string>
    <string>U0C16_U0C4C.abvs</string>
    <string>U0C17_U0C4C.abvs</string>
    <string>U0C18_U0C4C.abvs</string>
    <string>U0C19_U0C4C.abvs</string>
    <string>U0C1A_U0C4C.abvs</string>
    <string>U0C1B_U0C4C.abvs</string>
    <string>U0C1C_U0C4C.abvs</string>
    <string>U0C1D_U0C4C.abvs</string>
    <string>U0C1E_U0C4C.abvs</string>
    <string>U0C1F_U0C4C.abvs</string>
    <string>U0C20_U0C4C.abvs</string>
    <string>U0C21_U0C4C.abvs</string>
    <string>U0C22_U0C4C.abvs</string>
    <string>U0C23_U0C4C.abvs</string>
    <string>U0C24_U0C4C.abvs</string>
    <string>U0C25_U0C4C.abvs</string>
    <string>U0C26_U0C4C.abvs</string>
    <string>U0C27_U0C4C.abvs</string>
    <string>U0C28_U0C4C.abvs</string>
    <string>U0C2A_U0C4C.abvs</string>
    <string>U0C2B_U0C4C.abvs</string>
    <string>U0C2C_U0C4C.abvs</string>
    <string>U0C2D_U0C4C.abvs</string>
    <string>U0C2E_U0C4C.abvs</string>
    <string>U0C2F_U0C4C.abvs</string>
    <string>U0C30_U0C4C.abvs</string>
    <string>U0C31_U0C4C.abvs</string>
    <string>U0C32_U0C4C.abvs</string>
    <string>U0C33_U0C4C.abvs</string>
    <string>U0C35_U0C4C.abvs</string>
    <string>U0C36_U0C4C.abvs</string>
    <string>U0C37_U0C4C.abvs</string>
    <string>U0C38_U0C4C.abvs</string>
    <string>U0C39_U0C4C.abvs</string>
    <string>U0C15_U0C4C_U0C37_U0C4D.akhn</string>
    <string>U0C15_U0C4D.haln</string>
    <string>U0C16_U0C4D.haln</string>
    <string>U0C17_U0C4D.haln</string>
    <string>U0C18_U0C4D.haln</string>
    <string>U0C19_U0C4D.haln</string>
    <string>U0C1A_U0C4D.haln</string>
    <string>U0C1B_U0C4D.haln</string>
    <string>U0C1C_U0C4D.haln</string>
    <string>U0C1D_U0C4D.haln</string>
    <string>U0C1E_U0C4D.haln</string>
    <string>U0C1F_U0C4D.haln</string>
    <string>U0C20_U0C4D.haln</string>
    <string>U0C21_U0C4D.haln</string>
    <string>U0C22_U0C4D.haln</string>
    <string>U0C23_U0C4D.haln</string>
    <string>U0C24_U0C4D.haln</string>
    <string>U0C25_U0C4D.haln</string>
    <string>U0C26_U0C4D.haln</string>
    <string>U0C27_U0C4D.haln</string>
    <string>U0C28_U0C4D.haln</string>
    <string>U0C2A_U0C4D.haln</string>
    <string>U0C2B_U0C4D.haln</string>
    <string>U0C2C_U0C4D.haln</string>
    <string>U0C2D_U0C4D.haln</string>
    <string>U0C2E_U0C4D.haln</string>
    <string>U0C2F_U0C4D.haln</string>
    <string>U0C30_U0C4D.haln</string>
    <string>U0C31_U0C4D.haln</string>
    <string>U0C32_U0C4D.haln</string>
    <string>U0C33_U0C4D.haln</string>
    <string>U0C35_U0C4D.haln</string>
    <string>U0C36_U0C4D.haln</string>
    <string>U0C37_U0C4D.haln</string>
    <string>U0C38_U0C4D.haln</string>
    <string>U0C39_U0C4D.haln</string>
    <string>U0C15_U0C37_U0C4D.ak_U0C4D.haln</string>
    <string>U0C1C_U0C41.psts</string>
    <string>U0C1C_U0C42.psts</string>
    <string>U0C2A_U0C41.psts</string>
    <string>U0C2A_U0C42.psts</string>
    <string>U0C2B_U0C41.psts</string>
    <string>U0C2B_U0C42.psts</string>
    <string>U0C35_U0C41.psts</string>
    <string>U0C35_U0C42.psts</string>
    <string>U0C15_U0C37_U0C4D.akhn</string>
    <string>U0C15_U0C41.psts</string>
    <string>U0C21_U0C41.psts</string>
    <string>U0C22_U0C41.psts</string>
    <string>U0C39_U0C41.psts</string>
    <string>U0C15_U0C42.psts</string>
    <string>U0C21_U0C42.psts</string>
    <string>U0C22_U0C42.psts</string>
    <string>U0C39_U0C42.psts</string>
    <string>nounicode_3_1_57</string>
    <string>U0C15_U0C41_U0C37_U0C4D.akhn</string>
    <string>U0C15_U0C42_U0C37_U0C4D.akhn</string>
    <string>U0C38_U0C41.psts</string>
    <string>U0C37_U0C41.psts</string>
    <string>U0C36_U0C41.psts</string>
    <string>U0C33_U0C41.psts</string>
    <string>U0C32_U0C41.psts</string>
    <string>U0C31_U0C41.psts</string>
    <string>U0C30_U0C41.psts</string>
    <string>U0C2F_U0C41.psts</string>
    <string>U0C2E_U0C41.psts</string>
    <string>U0C1D_U0C41.psts</string>
    <string>U0C18_U0C41.psts</string>
    <string>U0C1E_U0C41.psts</string>
    <string>U0C2D_U0C41.psts</string>
    <string>U0C2C_U0C41.psts</string>
    <string>U0C16_U0C41.psts</string>
    <string>U0C17_U0C41.psts</string>
    <string>U0C19_U0C41.psts</string>
    <string>U0C1A_U0C41.psts</string>
    <string>U0C1B_U0C41.psts</string>
    <string>U0C1F_U0C41.psts</string>
    <string>U0C20_U0C41.psts</string>
    <string>U0C23_U0C41.psts</string>
    <string>U0C24_U0C41.psts</string>
    <string>U0C25_U0C41.psts</string>
    <string>U0C26_U0C41.psts</string>
    <string>U0C27_U0C41.psts</string>
    <string>U0C28_U0C41.psts</string>
    <string>U0C34</string>
    <string>U0C58_U0C3E.abvs</string>
    <string>U0C59_U0C3E.abvs</string>
    <string>U0C30_U0C42.psts</string>
    <string>U0C37_U0C42.psts</string>
    <string>U0C36_U0C42.psts</string>
    <string>U0C33_U0C42.psts</string>
    <string>U0C32_U0C42.psts</string>
    <string>U0C31_U0C42.psts</string>
    <string>U0C2F_U0C42.psts</string>
    <string>U0C2E_U0C42.psts</string>
    <string>U0C1D_U0C42.psts</string>
    <string>U0C16_U0C42.psts</string>
    <string>U0C17_U0C42.psts</string>
    <string>U0C18_U0C42.psts</string>
    <string>U0C19_U0C42.psts</string>
    <string>U0C1A_U0C42.psts</string>
    <string>U0C1B_U0C42.psts</string>
    <string>U0C1F_U0C42.psts</string>
    <string>U0C20_U0C42.psts</string>
    <string>U0C23_U0C42.psts</string>
    <string>U0C24_U0C42.psts</string>
    <string>U0C25_U0C42.psts</string>
    <string>U0C26_U0C42.psts</string>
    <string>U0C27_U0C42.psts</string>
    <string>U0C28_U0C42.psts</string>
    <string>U0C2C_U0C42.psts</string>
    <string>U0C2D_U0C42.psts</string>
    <string>U0C34_U0C3E.abvs</string>
    <string>U0C34_U0C3F.abvs</string>
    <string>U0C34_U0C40.abvs</string>
    <string>U0C34_U0C41.psts</string>
    <string>U0C34_U0C42.psts</string>
    <string>U0C34_U0C46.abvs</string>
    <string>U0C34_U0C47.abvs</string>
    <string>U0C34_U0C4A.abvs</string>
    <string>U0C34_U0C4B.abvs</string>
    <string>U0C34_U0C4C.abvs</string>
    <string>U0C34_U0C4D.haln</string>
    <string>U0C58_U0C41.psts</string>
    <string>U0C58_U0C42.psts</string>
    <string>U0C58_U0C4A.abvs</string>
    <string>U0C58_U0C4B.abvs</string>
    <string>U0C58_U0C4C.abvs</string>
    <string>U0C59_U0C41.psts</string>
    <string>U0C59_U0C42.psts</string>
    <string>U0C59_U0C4A.abvs</string>
    <string>U0C59_U0C4B.abvs</string>
    <string>U0C59_U0C4C.abvs</string>
    <string>U0C1E_U0C42</string>
    <string>_1625</string>
  </array>
  <key>class12</key>
  <array>
    <string>glyph496</string>
    <string>glyph497</string>
    <string>glyph498</string>
    <string>glyph499</string>
    <string>glyph500</string>
    <string>glyph501</string>
    <string>glyph502</string>
    <string>glyph503</string>
    <string>glyph504</string>
    <string>glyph505</string>
    <string>glyph506</string>
    <string>glyph507</string>
    <string>glyph508</string>
    <string>glyph509</string>
    <string>glyph510</string>
    <string>glyph511</string>
    <string>glyph512</string>
    <string>glyph513</string>
    <string>glyph514</string>
    <string>glyph515</string>
    <string>glyph516</string>
    <string>glyph517</string>
    <string>glyph518</string>
    <string>glyph519</string>
    <string>glyph520</string>
    <string>glyph521</string>
    <string>glyph523</string>
    <string>glyph524</string>
    <string>glyph525</string>
    <string>glyph526</string>
    <string>glyph527</string>
    <string>glyph528</string>
    <string>glyph529</string>
    <string>glyph530</string>
  </array>
  <key>class4</key>
  <array>
    <string>U0C56</string>
    <string>U0C1C_U0C4D.blwf</string>
    <string>U0C1F_U0C4D.blwf</string>
    <string>glyph473</string>
    <string>glyph493</string>
    <string>glyph494</string>
    <string>glyph495</string>
    <string>glyph536</string>
    <string>glyph537</string>
    <string>glyph538</string>
    <string>U0C2A_U0C4D.blwf_U0C</string>
    <string>ai_extended</string>
  </array>
  <key>class5</key>
  <array>
    <string>U0C24</string>
    <string>U0C19_U0C3E.abvs</string>
    <string>U0C1F_U0C3E.abvs</string>
    <string>U0C15_U0C3E_U0C37_U0C4D.akhn</string>
    <string>U0C15_U0C46.abvs</string>
    <string>U0C28_U0C46.abvs</string>
    <string>U0C30_U0C4D.haln</string>
    <string>U0C2A_U0C41.psts</string>
    <string>U0C2A_U0C42.psts</string>
    <string>U0C35_U0C41.psts</string>
    <string>U0C1B_U0C4D.blwf</string>
    <string>U0C21_U0C4D.blwf</string>
    <string>U0C24_U0C4D.blwf</string>
    <string>U0C27_U0C4D.blwf</string>
    <string>U0C32_U0C41.psts</string>
    <string>U0C2F_U0C41.psts</string>
    <string>U0C24_U0C41.psts</string>
    <string>U0C56_U0C</string>
  </array>
</dict>
</plist>
