<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>7</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 1</key>
      <dict>
        <key>position</key>
        <integer>-144</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>292</integer>
        <key>width</key>
        <integer>4</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 1</key>
      <dict>
        <key>position</key>
        <integer>438</integer>
        <key>width</key>
        <integer>2</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>Y: 92</key>
      <dict>
        <key>width</key>
        <integer>92</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>14</key>
          <integer>2</integer>
          <key>22</key>
          <integer>3</integer>
          <key>31</key>
          <integer>4</integer>
          <key>40</key>
          <integer>5</integer>
          <key>45</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 30</key>
      <dict>
        <key>width</key>
        <integer>30</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>38</key>
          <integer>2</integer>
          <key>63</key>
          <integer>3</integer>
          <key>88</key>
          <integer>4</integer>
          <key>113</key>
          <integer>5</integer>
          <key>138</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 52</key>
      <dict>
        <key>width</key>
        <integer>52</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>25</key>
          <integer>2</integer>
          <key>41</key>
          <integer>3</integer>
          <key>51</key>
          <integer>4</integer>
          <key>66</key>
          <integer>5</integer>
          <key>80</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 83</key>
      <dict>
        <key>width</key>
        <integer>83</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>14</key>
          <integer>2</integer>
          <key>22</key>
          <integer>3</integer>
          <key>31</key>
          <integer>4</integer>
          <key>40</key>
          <integer>5</integer>
          <key>50</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 82</key>
      <dict>
        <key>width</key>
        <integer>82</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>14</key>
          <integer>2</integer>
          <key>22</key>
          <integer>3</integer>
          <key>31</key>
          <integer>4</integer>
          <key>40</key>
          <integer>5</integer>
          <key>51</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 39</key>
      <dict>
        <key>width</key>
        <integer>39</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>25</key>
          <integer>2</integer>
          <key>41</key>
          <integer>3</integer>
          <key>68</key>
          <integer>4</integer>
          <key>87</key>
          <integer>5</integer>
          <key>106</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 51</key>
      <dict>
        <key>width</key>
        <integer>51</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>25</key>
          <integer>2</integer>
          <key>41</key>
          <integer>3</integer>
          <key>51</key>
          <integer>4</integer>
          <key>66</key>
          <integer>5</integer>
          <key>81</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
</dict>
</plist>
